<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.woheller69.audio_analyzer_for_android"
    android:installLocation="auto">

    <queries>
        <intent> <action android:name="android.intent.action.GET_CONTENT" /> </intent>
        <intent> <action android:name="android.intent.action.VIEW" /> </intent>
    </queries>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:theme="@style/DarkThemeSelector" >
        <activity
            android:name="org.woheller69.audio_analyzer_for_android.AnalyzerActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.woheller69.audio_analyzer_for_android.MyPreferences"
            android:label="@string/preferences"
            android:parentActivityName="org.woheller69.audio_analyzer_for_android.AnalyzerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.woheller69.audio_analyzer_for_android.AnalyzerActivity" />
        </activity>
        <activity
            android:name="org.woheller69.audio_analyzer_for_android.InfoRecActivity"
            android:label="@string/title_activity_info_rec"
            android:parentActivityName="org.woheller69.audio_analyzer_for_android.AnalyzerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.woheller69.audio_analyzer_for_android.AnalyzerActivity" />
        </activity>
    </application>

</manifest>